<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Estructura de Archivos</title>
    <!-- Incluye jQuery y jQuery TreeView -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
    <style>

    </style>
</head>
<body>
 
hola


</body>
</html>
