<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
</head>
<body>
    <h1>Editor de Texto con EJS</h1>
    <form action="/procesar" method="POST">
        <textarea name="texto" id="texto" rows="5" cols="50">Hola (nombre)</textarea><br>
      
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
